<!DOCTYPE html>
<html>
  <head>
    <title>Mgkgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDxmb4KQEh-naza2Dt-a48_jFwGf6UQDg8",
    authDomain: "mgkgram.firebaseapp.com",
    databaseURL: "https://mgkgram.firebaseio.com",
    projectId: "mgkgram",
    storageBucket: "mgkgram.appspot.com",
    messagingSenderId: "567636004445",
    appId: "1:567636004445:web:5e1ae425b814b66ff987b4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

  </body>
</html>
